server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/runscore?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: zohar001
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: none
  thymeleaf:
    cache: false
  redis:
    port: 6379
    host: localhost
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
redisson:
  singleServerConfig:
    address: 127.0.0.1:6379
jetcache:
  areaInCacheName: false
  local:
    default:
      type: linkedhashmap
      keyConvertor: fastjson
  remote:
    default:
      type: redis.lettuce
      keyConvertor: fastjson
      uri: redis://127.0.0.1:6379/
storage:
  storagePath: E:\tmp\pic